# General
.DS_Store
Thumbs.db

# Dart tooling and pub related
.dart_tool/
.packages
.pub/
build/
.pub-cache/

# Flutter/Dart build outputs
**/ios/Flutter/.last_build_id
**/Flutter/flutter_export_environment.sh
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/ios/Flutter/Generated.xcconfig

# Android/iOS specific
**/android/.gradle
**/android/app/build/
**/ios/**/*.generated.xcconfig
**/ios/**/*.xcworkspace

# VSCode and IntelliJ related (depending on team use, you might want to ignore)
.vscode/
.idea/

# MacOS specific files
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
