# Compiled files and build directory
/target

# Remove Cargo.lock from gitignore if creating an executable, keep it for libraries
Cargo.lock

# Backup files created by text editors
**/*.rs.bk

# Ignore environment configuration files (optional)
.env

# Ignore log files
*.log
